<!DOCTYPE html>
<html>
   <head>
      <%- include ("../partials/header.ejs") %>
   </head>

   <body>
      <%- include ("../partials/nav.ejs") %>

      <div class="jumbotron text-center">
         <div class="container">
            <h1>Winner of the User Voting count!</h1>
            <p>
               <%= winner.firstName %> <%= winner.lastName%> won with a count of
               <%= winner.count%> shared link
            </p>
         </div>
      </div>
      <div class="container"></div>
   </body>
</html>
